#aboveTheFoldContent {
  z-index: 1;
  width: 100%;
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: 300px 1fr 1fr;
  background: linear-gradient(135deg, rgba(39,173,117,0) 53%,rgba(255,255,255,1) 53%);
}

#aboveTheFoldBackgroundImage {
  width: 100%;
  height: 100vh;
  background-image: url("../public//leavesBackground_4k.jpg");
  background-size: cover;
  position: fixed;
  z-index: -1;
}

#landingPageTitle {
  width: 200px;
  font-size: 100px;
  position: absolute;
  margin-top: 45vh;
  margin-left: 62%;
  color: rgb(77, 77, 77);
}

@media(max-width:950px) {
  #aboveTheFoldContent {
    display: grid;
    justify-content: center;
    grid-template-columns: none;
    background: none;
    background: linear-gradient(180deg, rgba(39,173,117,0) 53%,rgba(255,255,255,1) 53%);
  }
  #aboveTheFoldBackgroundImage {
    background-image: url("../public/leavesBackgroundHD.jpg");
  }
  #landingPageTitle {
    width: 100%;
    font-size: 50px;
    position: relative;
    margin: 0;
    grid-row-start: 3;
  }
}